$orange-color: #d56c06;
$green-color: #97bf0d;
$font-color: #ece8da;
$white-color: #f8f7f2;
$black-color: #181818;
$opacitiy-white: #f8f7f2d9;

.Navbar {
  top: 0;
  margin: 1em auto 1em auto;
  width: 97%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;

  background-color: $opacitiy-white;
  border-radius: 50px;
  text-align: center;
}

img {
  width: 4%;
}
