.body-content {
  width: 100vw;
  height: 100vh;
}

.Profil_container {
  background-color: #f8f7f2;

  width: 80%;
  height: 30%;
  border-radius: 1rem;
}

.first {
  display: flex;
  justify-content: space-around;
}

.mid-block {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.No-photo {
  width: 80%;
  position: relative;
  z-index: 20;
  left: 1rem;
  top: 1rem;
}

.Edit {
  background-color: #97bf0c;
  border-radius: 20px;
  width: 3.5rem;
  height: 2.2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.age {
  font-size: 16px;
  font-weight: lighter;
}

.pseudo {
  font-size: 16px;
  font-weight: light;
}

.recipes {
  font-size: 12px;
}

.comments {
  font-size: 12px;
}
.mid {
  font-size: 12px;
}
