@import "../../vars.scss";

.recipe-content {
  display: flex;
  flex-direction: column;

  .filter {
    margin-bottom: 1rem;
    margin: 0 0 1rem auto;

    select {
      background-color: $green-color;
      height: 2rem;
      width: 6rem;
      border-radius: 0.5rem;
      color: $white-color;
      border: none;
    }
  }

  .recipe-list {
    display: grid;
    grid-gap: 2rem;
    width: auto;
    margin: 0 auto 0 auto;
    padding: 0;

    .recipe {
      list-style: none;
      background-color: $white-color;
      border-radius: 1.5rem;
      height: 150px;
      min-width: 300px;
      max-width: 350px;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);

      display: flex;

      * {
        margin: 0;
      }

      .image-recipe-pos {
        width: 45%;
        height: 150px;
        max-width: 150px;
      }
      .image-recipe {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 1.5rem 0 0 1.5rem;
      }

      .desc-recipe {
        margin: 0.5rem;
        width: 55%;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: medium;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: small;
          margin: 0.25rem 0.5rem 0.25rem 0;
        }

        .level-recipe {
          margin: auto 0.25rem 0.25rem auto;
        }

        .link-to {
          display: flex;
          margin: 0.25rem 0.25rem 0.25rem auto;
          background-color: $orange-color;
          padding-left: 0.5rem;
          border-radius: 1rem;
          text-align: right;
          &:hover {
            background-color: #db9146;
            cursor: pointer;
          }

          &:active {
            scale: 0.9;
            transition: scale 150ms;
          }

          a {
            color: $white-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 780px) {
  .recipe-content {
    .recipe-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (min-width: 780px) and (max-width: 1275px) {
  .recipe-content {
    .recipe-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1275px) and (max-width: 1650px) {
  .recipe-content {
    .recipe-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 1650px) and (max-width: 2030px) {
  .recipe-content {
    .recipe-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (min-width: 2030px) and (max-width: 2410px) {
  .recipe-content {
    .recipe-list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
